# Игнорирование виртуальной среды
venv/

# Игнорирование настроек IDE
.idea/

# Игнорирование файлов скомпилированного Python
*.pyc
__pycache__/

# Игнорирование файлов баз данных
*.sqlite3

# Игнорирование логов
*.log

# Игнорирование файлов конфигурации операционной системы
.DS_Store
Thumbs.db# created by virtualenv automatically
*
